@import url('https://fonts.googleapis.com/css?family=Inter:300,400,600,700|Poppins:300,400,500i&display=swap');
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    width: 50px;
    transition: width 0.4s linear;
    background: #fa7875;
    background: -moz-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: -webkit-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: linear-gradient(to bottom, #fa7875 0%, #b05e70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa7875', endColorstr='#b05e70', GradientType=0);
    }
.searchbar:hover{
  width: 300px;
}
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    }

    .searchbar:hover > .search_input{
    padding: 0 20px;
    width: 100%;
    caret-color:#fff;
    transition: width 0.4s linear;
    }

    ::placeholder{
      color: #fff;
    }

.search_icon:hover{
  color: #fff;
  text-decoration: none;
}

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    font-size: 22px;
    }

.button_container {
  position: relative;
  height: 18px;
  width: 23px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(5px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #ffffff;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 7px;
  width: 70%;
}
.button_container span:nth-of-type(3) {
  top: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
}
.overlay:before {
  content: '';
  background: #f97875;
background: -moz-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: -webkit-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: linear-gradient(to bottom, #fa7875 0%, #b05e70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa7875', endColorstr='#b05e70', GradientType=0);
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left .35s ease;
  transition: left .35s ease;
}
.overlay:after {
  content: '';
  background: #f97875;
background: -moz-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: -webkit-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: linear-gradient(to bottom, #fa7875 0%, #b05e70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa7875', endColorstr='#b05e70', GradientType=0);
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
          animation-delay: .65s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 7);
  min-height: 20px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/


header{
  
padding-top: 20px;
  
position: relative;
}
.banner{
  
position: absolute;
  
left: 0;
  
top: 0;
}
.vh-800{
  min-height: 800px;
}
.banner-content{}
.banner-content h1{
    color: #3c3768;
    font-weight: 700;
    font-size: 50px;
}
h1{
  font-family: 'Inter', sans-serif;
}
.banner-content h5{}
h5{
  font-family: 'Inter', sans-serif;
  color: #455a64;
  font-size: 20px;
}
.banner-content p{}
p{
    font-size: 18px;
    color: #455a64;
    font-family: 'Inter', sans-serif;
}


.form-inline{}
.form-inline input{
    border: 1px solid #80bdff00;
    box-shadow: 0 30px 60px 0 #f9787559;
    padding: 30px 65px;
}
.form-inline button{
    box-shadow: 0 30px 60px 0 #f9787559;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    
}
.btn-custom{
  background: #f97875;
background: -moz-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: -webkit-linear-gradient(top, #fa7875 0%, #b05e70 100%);
    background: linear-gradient(to bottom, #fa7875 0%, #b05e70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa7875', endColorstr='#b05e70', GradientType=0);
    color: #fff;
    transition-duration: 0.4s;
}

.btn-custom:hover{
   border: 1px solid #f97875;
   color: #f97875;
   background: transparent;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #f97875;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}



.service-section{
    position: relative;
    padding: 200px 0;
}
.service-section img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.service{
    padding: 50px;
    background: #ffffffb5;
    position: relative;
    z-index: 1;
    box-shadow: 0 30px 60px 0 #f978751f;
}
.service h2{
    color: #3c3768;
    font-size: 32px;
}
.service p{}
.service a{
    color: #fa7875;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.service span{}
.service span i{}
.section1{
    left: 0;
}
.section1 img{
    left: 0;
}
.section2{}
.section2 img{
    right: 0;
}
.section3{}
.section3 img{
    left: 0;
}

.subscribe-section{
    padding: 200px 0 100px;
}
.subscribe-section .container{
  background-image: url(../images/blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe-section .row{
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.subscribe-section h2{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family: poppins, sans- serif;
    max-width: 270px;
}
.subscribe-section p{
    color: #c5cae9;
    font-size: 15px;
}

footer{
    position: relative;
}
footer > img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
footer a img{}
footer p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 40px 0;
}
.footer-menu{}
.footer-menu li{}
.footer-menu li a{
    font-size: 16px;
    color: #455a64;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    display: block;
}
.footer-menu li a:hover{
    color: #fa7875;
    text-decoration: none;
}

.social-list{}
.social-list li{}
.social-list li a{
    display: block;
    width: 50px;
    height: 50px;
    background: #322e57;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    transition-duration: 0.3s;
}
.social-list li a:hover{
    background: #fa7875;
}


.copyright{
    font-size: 16px;
}

@media (min-width: 1200px){
.container{
    max-width: 1410px;
}
footer p{
  max-width: 600px;
}
}
@media (min-width: 1500px){
  .service-section img{
    max-width: 680px;
  }
}

@media (max-width: 1199px){
  .banner-content h1{
    font-size: 36px;
    max-width: 400px;
}
  .vh-800 {
    min-height: 420px;
}
.subscribe-section .row{
  padding-top: 60px;
  padding-bottom: 60px;
}
}

@media (max-width: 991px){
  .banner-content {
    background: #ffffff69;
    padding-top: 20px;
    padding-bottom: 20px;
}
.vh-800 {
    min-height: 350px;
}
.form-inline button{
  
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  
}
.form-inline input{
  padding: 25px 35px;
}
.service-section{
  padding: 150px 0;
}
.service{
  padding: 30px;
}
.service p{
  font-size: 16px;
}
.service h2{
  font-size: 26px;
}
.service a{
  font-size: 15px;
}
.subscribe-section h2{
  text-align: center;
  max-width: 100%;
}
.subscribe-section p{
  text-align: center;
  
}
.subscribe-section .form-inline{
  justify-content: center;
}
}

@media (max-width: 767px){
  .banner-content h1{
    font-size: 25px;
    max-width: 400px;
    margin: auto;
  }
  .banner-content{
    text-align: center;
    padding-right: 20px;
    padding-right: 20px;
  }
  .form-inline{
    justify-content: center;
    margin-top: 20px;
  }
  .logo img{
    width: 150px;
  }
  .searchbar:hover{
    width: 200px;
  }
  .service-section img{
    max-width: 560px;
  }
}


@media (max-width: 575px){
  .searchbar{
    display: none;
  }
  .vh-800 {
    min-height: 400px;
  }
  .form-inline button {
    margin-top: 20px;
  }
  .service{
    text-align: center;
  }
  .service-section img{
    max-width: 470px;
  }
  .service-section{
    padding: 75px 0;
  }
  .service-section p{
    font-size: 18px;
  }
  .service-section h2{
    font-size: 28px;
  }
  footer{
    text-align: center;
  }
  .socia-list{
    justify-content: center;
  }
}